* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
.header {
  padding: 20px 0;
  direction: rtl;
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .content {
      .parent ul {
        direction: rtl;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        li {
          list-style-type: none;
          a {
            text-decoration: none;
            color: black;
            font-weight: bold;
            transition: 0.5s ease-in-out;
            span {
              background-color: red;
              margin-left: 10px;
              padding: 4px 8px;
              color: white;
            }
            &:hover {
              color: red;
            }
          }
          &.menu {
            position: relative;
            & .dropdown {
              top: 25px;
              width: 230px;
              background-color: white;
              position: absolute;
              display: none;
              a {
                display: block;
                padding: 10px 5px;
              }
            }
            &:hover .dropdown {
              display: block;
            }
          }
        }
      }
    }
  }

  .logo {
    display: flex;
    justify-content: start;
    img {
      padding-right: 20px;
    }
  }

  .check {
    display: none;
    cursor: pointer;
    background-color: #b72128;
    color: white;
    padding: 0 30px;
  }
}

.section-one {
  height: 85vh;
  background-image: url("../images/d0c63aceb953b0b1ad63ccd03a6c62ad.jpg");
  background-size: cover;
  text-align: center;
  padding: 0;
  color: white;
  .back-ground {
    background-color: rgba(0, 0, 0, 0.475);
    padding: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    .content-one {
      margin-top: 200px;
      padding: 0 300px;
      h3 {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 30px;
      }
    }
    .content-two {
      margin-top: 30px;

      .parent {
        background-color: white;
        padding: 20px 5px;
        color: black;
        box-shadow: 5px 5px 20px #1c1a1a;
        h5 {
          margin: 10px 0;
        }
        p {
          margin-bottom: 10px 0;
        }
        a {
          display: inline-block;
          text-decoration: none;
          background-color: red;
          padding: 10px 20px;
          color: white;
          margin-top: 10px;
        }
      }
    }
  }
}

.section-two {
  margin-top: 100px;
  .col-one {
    direction: rtl;
    padding: 0;
    margin: 20px 0;
    h4 {
      font-size: 15px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    p {
      font-size: 15px;
      font-weight: 400;
    }
    input.email {
      padding: 5px;
    }
    input.submit {
      background-color: red;
      color: white;
      padding: 6px 10px;
      border: 0;
    }
    .book-background {
      background-image: url("../images/faq-banner.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      color: white;
      text-align: center;
      padding: 20px 10px;
    }
  }

  .col-two {
    direction: rtl;
    margin: 20px 0;
    h4 {
      color: red;
    }
    ul {
      li {
        list-style-type: none;
        display: flex;
        margin: 10px 0;
        a {
          text-decoration: none;
          color: #464f59;
        }
        .text-center {
          width: 70px;
          height: 70px;
          color: white;
          padding: 10px;
          margin-left: 20px;
          background-color: #595958;
          p {
            margin-bottom: 0;
            font-size: 15px;
            font-weight: 400;
          }
        }
      }
    }
    .btn {
      width: 170px;
      height: 45px;
      display: block;
      background: #b72128;
      font-size: 0.9em;
      margin: 0 auto !important;
      color: #fff;
      text-align: center;
      align-items: center;
      border-radius: 2px;
      box-shadow: 0px 1px 1px 0px #000;
    }
  }
}

.footer {
  position: relative;
  span {
    position: absolute;
    right: 45%;
    color: white;
    /* bottom: 20px; */
    background-color: red;
    padding: 15px 19px;
    top: -30px;
    border-radius: 50%;
    cursor: pointer;
  }
  height: auto;
  width: 100%;
  margin-top: 30px;
  background-color: #2f2f2f;
  direction: rtl;
  .title h3 {
    color: white;
    font-size: 1.2em;
    padding: 70px 0 30px;
  }
  .links {
    // display: flex;
    ul {
      margin: 0 20px;
      li {
        font-size: 0.85em;
        list-style-type: square;
        color: #595958;
        line-height: 30px;
        a {
          color: #bdc1c7;
          text-decoration: none;
        }
      }
    }
  }

  .contacts {
    color: white;
    .parent {
      display: flex;
      justify-content: space-between;
      padding: 70px 0;
      .one {
        p {
          color: white;
        }
        .icons {
          display: flex;
          justify-content: flex-start;
          & > div {
            width: 82px;
            height: 27px;
            text-align: center;
            border-radius: 30px;
            color: #fff;
            margin: 4px;
            float: right;
            line-height: 25px;
            font-size: 1.2em;
            &.one {
              background-color: #31ab62;
            }
            &.two {
              background-color: #3171a2;
            }
          }
        }
      }

      .two {
        p {
          color: white;
        }
        .icons {
          display: flex;
          justify-content: flex-start;
          & > div {
            width: 35px;
            height: 35px;
            text-align: center;
            align-items: center;
            background-color: #3171a2;
            margin: 0 10px;
            border-radius: 50%;
            padding-top: 5px;
            a {
              color: white;
            }
          }
        }
      }
    }
    .phones {
      .parent {
        display: block;
        padding: 5px;
        font-size: 0.9em;
        background-color: #393939;
        p {
          padding: 5px 0;
          margin: 0;
        }
      }
    }
  }
}
// =======
.mySlides1,
.mySlides2 {
  display: none;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover,
.next:hover {
  background-color: #f1f1f1;
  color: black;
}
// =======
@media (max-width: 1000px) {
  .header {
    .row {
      display: block;
      .content {
        .parent {
          ul {
            width: 100%;
            height: auto;
            right: -100%;
            position: fixed;
            padding: 20px 0;
            transition: all 0.5s;
            background-color: white;
            display: block;
            padding-right: 20px;
            li {
              padding: 5px 0;
              &.menu .dropdown {
                right: 60px;
              }
            }
          }
        }
      }
      .check {
        display: block;
        padding-left: 20px;
      }
    }
  }

  .section-one {
    .back-ground {
      .content-one {
        padding: 0 20px;
        .icons {
          display: flex;
          justify-content: flex-start;
        }
      }
    }
  }

  .section-two {
    margin-top: 300px;
  }
}
@media (max-width: 600px) {
  .footer .contacts .parent {
    display: block;
    .one .icons {
      display: flex;
      justify-content: flex-start;
    }
    .two {
      margin-top: 20px;
    }
  }
}

@media (max-width: 767px) {
  .section-two {
    margin-top: 900px;
  }
}
